DJANGO_SECRET_KEY="a secret key"
DJANGO_DB_ENGINE="django.db.backends.postgresql"
DJANGO_DB_NAME="database"
DJANGO_DB_USER="username"
DJANGO_DB_PASSWORD="password"
DJANGO_DB_HOST="hostname"
DJANGO_DB_PORT="port"

HOST="progzesp.example.com"
ACME_EMAIL="acme@example.com"
ACME_DNS_PROVIDER="see https://go-acme.github.io/lego/dns/"

TRAEFIK_DNS_PROVIDER_API_KEY_NAME="SOMETHING_AUTH_TOKEN, see https://go-acme.github.io/lego/dns/"
TRAEFIK_DNS_PROVIDER_API_KEY="api token for dns provider"
