DJANGO_SECRET_KEY="a secret key"

HOST="progzesp.example.com"
ACME_EMAIL="acme@example.com"
ACME_DNS_PROVIDER="see https://go-acme.github.io/lego/dns/"

TRAEFIK_DNS_PROVIDER_API_KEY_NAME="SOMETHING_AUTH_TOKEN, see https://go-acme.github.io/lego/dns/"
TRAEFIK_DNS_PROVIDER_API_KEY="api token for dns provider"
